# Plantilla de variables de entorno (Este archivo SI se sube a GitHub)
# Los siguientes son los valores genéricos por defecto de Supabase Local.
# Cópialos a un archivo llamado .env.local

NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_ACJWlzQHlZjBrEguHvfOxg_3BJgxAaH
NEXT_PUBLIC_SESSION_EXPIRATION_SECONDS=172800
